@inject IGetAllBacklogItemsCommand command

<div class="flex bg-white row-border-top mt-3">
    <div class="title">BACKLOGS</div>
    <div class="display-text">
        <span style="margin-top: 10px !important">Displaying 10 of a total 236 processes</span>
    </div>
    <div class="button-option">
        <button class="button icon float-right">Actions</button>
    </div>
    <div class="sort-by icon">
        Sort by:
        <span class="sort-by-text">Relevance</span>
    </div>
    <div class="option">...</div>
</div>
<div class="row-border" style="overflow-x:auto;width: 100%;">
    <table style="width: 100%">
        <thead class="bg-white">
            <tr>
                <th scope="col" style="display: flex"><input type="checkbox" class="form-check mr-2" style="margin-top: 5px;" /> Client</th>
                <th scope="col">Robot</th>
                <th scope="col">Task Description</th>
            </tr>
        </thead>
        <tbody class="tbody">
            @foreach (var backlogItem in backlogItems)
            {
                <tr>
                    <td style="display: flex"><input type="checkbox" class="form-check mr-2" style="margin-top: 5px;" /> @backlogItem.Client</td>
                    <td>@backlogItem.Robot</td>
                    <td class="task-descr">@backlogItem.TaskDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="flex bg-white row-border-bottom">
    <div class="show-results icon">
        Show: <span>10 Results </span>
    </div>
    <div class="pagination-buttons">
        <button class="btn ml-1 page-btn page-btn-left"></button>
        @foreach (var backlogItem in backlogItems)
        {
            for (var i = 1; i < backlogItem.TotalPages; i++)
            {
                <button class="btn ml-1 page-btn page-btn-active">@i</button>
            }
        }
        <button class="btn ml-1 page-btn">></button>
    </div>
</div>

@code {
    private int page { get; set; } = 1;
    private int pageSize { get; set; } = 5;
    private List<GetAllBacklogItemsCommandModel> backlogItems = new List<GetAllBacklogItemsCommandModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var result = await command.Execute(new GetAllBacklogItemsCommandParams { Page = page, PageSize = pageSize });

        backlogItems = result.Data;
    }
}
