<div class="flex bg-white row-border-top mt-3">
    <div class="title">PREVIEW</div>
    <div class="display-text">
        <span style="margin-top: 10px !important">VOD Packaging & Validation</span>
    </div>
    <div class="option">...</div>
</div>
<video style="width: 100%;border-bottom-left-radius:5px;border-bottom-right-radius:5px" controls>
    <source src="videos/Ruination Season 2021 Cinematic - League of Legends_720P HD.mp4" type="video/mp4">
    Your browser does not support HTML video.
</video>

@code {

}
