@page "/process"
@inject IJSRuntime JSRuntime

<div class="row px-0">
    <div class="col-12">
        <Vai.Frontend.Application.Component.ActionComponent />
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-7">
        <Vai.Frontend.Application.Component.BacklogComponent />
    </div>
    <div class="col-12 col-md-5 pl-md-0">
        <Vai.Frontend.Application.Component.PreviewComponent />
    </div>
</div>

@code {

}
