.flex {
    display: flex;
    align-items: stretch;
}

.width-max {
    width: 100%;
}

.row-border-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

.row-border {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.row-border-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.tbody {
    background-color: #fff;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #2b2b2b;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    color: #7b7b7b;
    white-space: nowrap;
    overflow: hidden;
}

.icon::after {
    content: '\25BC';
    color: #c9c9c9;
}

tbody > tr:hover {
    background-color: #13ae83;
}

tbody > tr:nth-child(odd) {
    background-color: #f8f8f8;
}

    tbody > tr:nth-child(odd):hover {
        background-color: #13ae83;
    }

tbody > tr:hover > td {
    color: #dbede7;
}

.task-descr {
    color: #3d3d3d;
}

tbody > tr:hover > .task-descr {
    color: #fff;
}

.title {
    font-size: 14px;
    font-weight: bold;
    color: #0d0d0d;
    border-right: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.display-text {
    color: #adadad;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.button-option {
    padding-top: 5px;
    padding-bottom: 3px;
    border-right: 1px solid #e7e7e7;
    padding-left: 10px;
    padding-right: 10px;
}

.sort-by {
    font-size: 14px;
    color: #adadad;
    border-right: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

.sort-by-text {
    color: #00a87b;
    font-size: 14px;
}

.option {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    background-color: #efefef;
    color: #cfcfcf;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.show-results {
    font-size: 14px;
    color: #adadad;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #e7e7e7;
    white-space: nowrap;
}

    .show-results > span {
        color: #00a87b;
    }

.pagination-buttons {
    width: 100%;
    text-align: center;
    padding: 11px;
}

.page-btn {
    color: #c9c9c9;
    padding: 3px 8px;
    font-size: 14px;
}

.page-btn-active {
    background-color: #13ae83;
    color: #fff;
}

.page-btn:focus {
    box-shadow: none;
}

.page-btn-left::after {
    content: '\003C';
    color: #707070;
}

.page-btn-right::after {
    content: '\003E';
    color: #707070;
}

.all-buttons {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.last-buttons {
    padding-left: 0;
    white-space: nowrap;
}
