@inherits LayoutComponentBase

<NavbarComponent />
<div class="page">
    <div class="sidebar">
        <SidebarComponent />
    </div>

    <div class="main">
        <Vai.Frontend.Application.Component.HeaderComponent />

        <div class="p-3">
            @Body
        </div>
    </div>
</div>
