.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.main {
    width: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #0c202b;
}

@media (min-width: 1031px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}

@media (min-width: 1031px) {
    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
